<div class="article-card">
    <div class="article-card__items">
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-pull-card/miniPullCard'); -%>
        <%- include('../mini-card/mini-card'); -%>
    </div>
    <span class="article-card__show-more-card">Показать еще</span>
</div>