<div class="article-card">
    <div class="article-card__items">
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <div class="banner" style="width: 728px; height: 90px;background-color: #7AC1E4; margin: 0 auto;"></div>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/mini-card'); -%>
        <%- include('../mini-card/poll-card/miniPollCard'); -%>
        <%- include('../mini-card/mini-card'); -%>
    </div>
    <span class="article-card__show-more-card">Показать еще</span>
</div>