<div class="detail-content__container">
    <h1 class="content__title">
        Памятник «Медный всадник» в Санкт-Петербурге
    </h1>
    <div class="detail-panel" data-dropdown-modal>
        <div class="detail-panel__inner">
            <ul class="detail-panel__list">
                <li class="detail-panel__item">
                    <svg class="detail-panel__logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99988 14.6666C7.21195 14.6666 6.43174 14.5114 5.70378 14.2099C4.97583 13.9084 4.31439 13.4664 3.75724 12.9093C3.20009 12.3521 2.75813 11.6907 2.45661 10.9627C2.15508 10.2348 1.99988 9.45456 1.99988 8.66663C1.99988 7.8787 2.15508 7.09849 2.45661 6.37053C2.75813 5.64258 3.20009 4.98114 3.75724 4.42399C4.31439 3.86684 4.97583 3.42488 5.70378 3.12336C6.43174 2.82183 7.21195 2.66663 7.99988 2.66663C9.59118 2.66663 11.1173 3.29877 12.2425 4.42399C13.3677 5.54921 13.9999 7.07533 13.9999 8.66663C13.9999 10.2579 13.3677 11.7841 12.2425 12.9093C11.1173 14.0345 9.59118 14.6666 7.99988 14.6666ZM7.99988 13.3333C8.61272 13.3333 9.21955 13.2126 9.78574 12.9781C10.3519 12.7435 10.8664 12.3998 11.2997 11.9665C11.7331 11.5331 12.0768 11.0187 12.3113 10.4525C12.5458 9.8863 12.6666 9.27947 12.6666 8.66663C12.6666 8.0538 12.5458 7.44696 12.3113 6.88078C12.0768 6.31459 11.7331 5.80014 11.2997 5.3668C10.8664 4.93346 10.3519 4.58972 9.78574 4.35519C9.21955 4.12067 8.61272 3.99997 7.99988 3.99997C6.76221 3.99997 5.57522 4.49163 4.70005 5.3668C3.82488 6.24197 3.33322 7.42896 3.33322 8.66663C3.33322 9.90431 3.82488 11.0913 4.70005 11.9665C5.57522 12.8416 6.76221 13.3333 7.99988 13.3333ZM8.66655 8.66663H10.6666V9.99997H7.33322V5.3333H8.66655V8.66663ZM1.16455 4.18797L3.52122 1.8313L4.46455 2.77397L2.10655 5.1313L1.16455 4.18797ZM12.4779 1.8313L14.8352 4.18797L13.8926 5.1313L11.5352 2.77397L12.4786 1.8313H12.4779Z" fill="#777C86"/>
                    </svg>
                    <span class="detail-panel__count">5:20 мин</span>
                </li>
                <li class="detail-panel__item">
                    <svg class="detail-panel__logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.73317 5.33335H13.9998C14.3535 5.33335 14.6926 5.47383 14.9426 5.72388C15.1927 5.97392 15.3332 6.31306 15.3332 6.66668V8.06935C15.3334 8.24359 15.2994 8.41618 15.2332 8.57735L13.1698 13.5874C13.1195 13.7095 13.034 13.8139 12.9242 13.8874C12.8144 13.9609 12.6853 14.0001 12.5532 14H1.33317C1.15636 14 0.98679 13.9298 0.861766 13.8048C0.736742 13.6797 0.666504 13.5102 0.666504 13.3334V6.66668C0.666504 6.48987 0.736742 6.3203 0.861766 6.19528C0.98679 6.07026 1.15636 6.00002 1.33317 6.00002H3.6545C3.76123 6.00004 3.86641 5.97445 3.96119 5.92537C4.05597 5.8763 4.13759 5.80519 4.19917 5.71802L7.8345 0.566684C7.88046 0.501559 7.94823 0.455058 8.02553 0.435611C8.10283 0.416164 8.18453 0.425059 8.25584 0.460684L9.46517 1.06535C9.80551 1.23546 10.0774 1.51689 10.2357 1.86289C10.3939 2.2089 10.429 2.59863 10.3352 2.96735L9.73317 5.33335ZM4.6665 7.05868V12.6667H12.1065L13.9998 8.06935V6.66668H9.73317C9.5301 6.66666 9.32973 6.62024 9.14732 6.53099C8.96492 6.44174 8.80532 6.312 8.68069 6.15168C8.55606 5.99135 8.46969 5.80468 8.42818 5.6059C8.38667 5.40712 8.39111 5.20149 8.44117 5.00468L9.04317 2.63935C9.06201 2.56557 9.05502 2.48756 9.02337 2.4183C8.99171 2.34905 8.93729 2.29272 8.86917 2.25868L8.4285 2.03868L5.2885 6.48668C5.12184 6.72268 4.9085 6.91602 4.6665 7.05868ZM3.33317 7.33335H1.99984V12.6667H3.33317V7.33335Z" fill="#777C86"/>
                    </svg>
                    <span class="detail-panel__count">1009</span>
                </li>
                <li class="detail-panel__item">
                    <svg class="detail-panel__logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99978 2C11.5944 2 14.5851 4.58667 15.2124 8C14.5858 11.4133 11.5944 14 7.99978 14C4.40511 14 1.41444 11.4133 0.787109 8C1.41378 4.58667 4.40511 2 7.99978 2ZM7.99978 12.6667C9.35942 12.6664 10.6787 12.2045 11.7417 11.3568C12.8047 10.509 13.5484 9.32552 13.8511 8C13.5473 6.67554 12.8031 5.49334 11.7402 4.64668C10.6773 3.80003 9.35864 3.33902 7.99978 3.33902C6.64091 3.33902 5.32224 3.80003 4.25936 4.64668C3.19648 5.49334 2.45229 6.67554 2.14844 8C2.45117 9.32552 3.19489 10.509 4.25787 11.3568C5.32085 12.2045 6.64013 12.6664 7.99978 12.6667ZM7.99978 11C7.20413 11 6.44106 10.6839 5.87846 10.1213C5.31585 9.55871 4.99978 8.79565 4.99978 8C4.99978 7.20435 5.31585 6.44129 5.87846 5.87868C6.44106 5.31607 7.20413 5 7.99978 5C8.79543 5 9.55849 5.31607 10.1211 5.87868C10.6837 6.44129 10.9998 7.20435 10.9998 8C10.9998 8.79565 10.6837 9.55871 10.1211 10.1213C9.55849 10.6839 8.79543 11 7.99978 11ZM7.99978 9.66667C8.4418 9.66667 8.86573 9.49107 9.17829 9.17851C9.49085 8.86595 9.66644 8.44203 9.66644 8C9.66644 7.55797 9.49085 7.13405 9.17829 6.82149C8.86573 6.50893 8.4418 6.33333 7.99978 6.33333C7.55775 6.33333 7.13383 6.50893 6.82126 6.82149C6.5087 7.13405 6.33311 7.55797 6.33311 8C6.33311 8.44203 6.5087 8.86595 6.82126 9.17851C7.13383 9.49107 7.55775 9.66667 7.99978 9.66667Z" fill="#777C86"/>
                    </svg>
                    <span class="detail-panel__count">15 239</span>
                </li>
            </ul>
            <ul class="detail-panel__list">
                <li class="detail-panel__item">
                    <svg class="detail-panel__logo" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.86084 13.8827L1.3335 14.6667L2.1175 11.1394C1.60119 10.1736 1.33185 9.09514 1.3335 8.00004C1.3335 4.31804 4.31817 1.33337 8.00017 1.33337C11.6822 1.33337 14.6668 4.31804 14.6668 8.00004C14.6668 11.682 11.6822 14.6667 8.00017 14.6667C6.90507 14.6684 5.82658 14.399 4.86084 13.8827ZM5.05417 12.474L5.4895 12.7074C6.26187 13.1201 7.12443 13.3352 8.00017 13.3334C9.055 13.3334 10.0861 13.0206 10.9632 12.4345C11.8403 11.8485 12.5239 11.0156 12.9275 10.041C13.3312 9.06648 13.4368 7.99412 13.231 6.95956C13.0252 5.92499 12.5173 4.97468 11.7714 4.2288C11.0255 3.48292 10.0752 2.97497 9.04065 2.76919C8.00609 2.5634 6.93373 2.66902 5.95919 3.07268C4.98465 3.47635 4.1517 4.15994 3.56567 5.037C2.97963 5.91406 2.66684 6.94521 2.66684 8.00004C2.66684 8.88937 2.8835 9.74537 3.2935 10.5107L3.52617 10.946L3.0895 12.9107L5.05417 12.474Z" fill="#777C86"/>
                    </svg>
                    <span class="detail-panel__count">Обсудить</span>
                </li>
                <li class="detail-panel__item">
                    <svg class="detail-panel__logo" data-modal-share width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 9.33329V13L15 7.33329L8 1.66663V5.33329C4.318 5.33329 1.33333 8.31796 1.33333 12C1.33333 12.182 1.34 12.362 1.35467 12.54C1.86373 11.5721 2.62768 10.7617 3.56392 10.1966C4.50015 9.63139 5.57307 9.33287 6.66667 9.33329H8ZM9.33333 10.2053V7.99996H6.66667C5.72 7.99996 4.806 8.18063 3.962 8.51529C4.46221 7.93451 5.08199 7.46864 5.77893 7.14957C6.47586 6.8305 7.2335 6.66576 8 6.66663H9.33333V4.46129L12.8807 7.33329L9.33333 10.2053Z" fill="#777C86"/>
                    </svg>
                    <span class="detail-panel__count">Поделиться</span>
                </li>
            </ul>
            <%- include('../modal/modal-share-menu/modal-share-menu'); -%>
        </div>
    </div>
    <p class="content__text">
        Конная статуя российского императора Петра I, известная как памятник Медный всадник, находится на Сенатской
        площади Санкт-Петербурга. Это одна из известнейших достопримечательностей Северной столицы, изображение
        которой можно найти на почтовых открытках и марках, конвертах и туристических путеводителях. Силуэт
        бронзового исполина (свое название «Медный всадник» он получил благодаря одноименному произведению А.С.
        Пушкина), настолько узнаваем, что ассоциируется исключительно с городом на Неве, поэтому его с полным
        основанием называют визитной карточкой Питера.
    </p>
</div>
<%- include('detail-menu-links/menuLinks'); -%>
<div class="detail-content__container">
    <h2 class="content__title">
        Основные моменты
    </h2>
    <p class="content__text">
        Скульптура появилась на этом месте более двухсот лет назад, но интерес к ней настолько живой и непреходящий,
        будто воплощенная в этом творении легендарная государственная личность совсем недавно стала частью нашей
        истории. Впрочем, удивляться этому не приходится: современная Россия переживает такой подъем и одновременно
        сталкивается с такими глобальными вызовами, что нынешнее время многие нередко сравнивают с петровской
        эпохой.
    </p>
    <p class="content__text">
        Есть у <a href="#">Медного всадника</a> и своя история – насыщенная событиями и фактами, мифами и легендами. Поиск
        литейщиков, скептицизм многих мастеров, что такой памятник вообще возможно создать, сложности с доставкой
        огромного камня в качестве пьедестала и другие моменты не оставляют никаких сомнений – возводился он, если
        можно так сказать, в суете и трудностях. Однако отлитый в металле Петр Великий достойно преодолел их, дойдя
        до наших дней в первозданном виде, символизируя собой величие и могущество Отечества.
    </p>
</div>
<%- include('../content-block/gallery/gallery'); -%>
<div class="detail-content__container">
    <h2 class="content__title">
        Вместо памятника Екатерине II
    </h2>
    <p class="content__text">
        Памятник Медный всадник мог и не увидеть свет, если бы не добрая воля императрицы Екатерины II. Точнее её
        мудрый и дальновидный расчет.
    </p>
    <p class="content__text">
        Для Софии Августы Фредерики Ангальт-Цербстской великий предшественник на российском престоле был безусловным
        авторитетом во всём. Инициируя различные реформы или приглашая в Петербург талантливейших литераторов,
        художников и скульпторов, самодержица подражала Петру I. Она была человеком прогрессивным и с готовностью
        впитывала всё новое в науке и философии. Не зря эпоха государыни Екатерины Алексеевны вошла в отечественную
        историю под названием «век просвещенного абсолютизма», а еще как «союз философов и монархов».
    </p>
    <p class="content__text">
        Заслуги великой императрицы были оценены еще при жизни. Современники даже заговорили о возведении памятника
        в ее честь. Идея быть увековеченной в бронзе или любом другом металле, конечно же, льстила бывшей прусской
        принцессе, ставшей во главе крупнейшей страны мира. Но в конечном итоге она решила увековечить для потомков
        не себя, а именно Петра, вошедшего в историю как царь-реформатор. Тем самым она намеревалась закрепить в
        общественном сознании мысль, что её преобразования – это продолжение петровских реформ, и что она достойный
        их продолжатель. В пользу этого решения говорил и календарь: как раз приближался 100-летний юбилей
        восшествия на трон Петра I, и лучшей даты для реализации этой идеи было не найти.
    </p>
</div>
<% let linkImage = [
    {image: "static/Rectangle 60.png", sourceText: "Источник фото1: https://kudago.com/spb/place/mednyj-vsadnik/" },
    {image: "static/Rectangle 61.png", sourceText: "Источник фото2: https://kudago.com/spb/place/mednyj-vsadnik/" },
    {image: "static/Rectangle 62.png", sourceText: "Источник фото3: https://kudago.com/spb/place/mednyj-vsadnik/" },
    {image: "static/Rectangle 63.png", sourceText: "Источник фото4: https://kudago.com/spb/place/mednyj-vsadnik/" },
    {image: "static/Rectangle 64.png", sourceText: "Источник фото5: https://kudago.com/spb/place/mednyj-vsadnik/" }
] %>
<%- include('../content-block/slider/swiper', {linkImage}); -%>
<div class="detail-content__container">
    <h2 class="content__title">
        Интересные факты, мифы и легенды
    </h2>
    <p class="content__text">
        Памятник Медный всадник, главный символ Северной Пальмиры, увековечивший Петра Великого на вздыбившейся
        лошади, был открыт 7 августа 1782 года. В честь долгожданного события состоялся военный парад, которым
        руководил князь Александр Голицын. Екатерина II на торжества прибыла в шлюпке по Неве. Поднявшись на балкон
        здания Сената, она надела корону и облачилась в порфир и подала знак, что праздник можно начинать. По
        горькой иронии судьбы, самого Фальконе на это мероприятие даже не соизволили пригласить.
    </p>
    <p class="content__text">
        Монументальное творение французского скульптора впечатлило присутствующих на церемонии величественностью и
        удивительной законченностью образа. Похоже, даже сама императрица, повелевшая оставить на постаменте надпись
        «Екатерина II Петру I», успела позабыть, что памятник ей изначально виделся совсем другим. И уж тем более
        никому не пришло в голову, что за Медным всадником начнет тянуться шлейф мифов и легенд, не говоря уже о
        просто заслуживающих внимания фактах. Причем едва ли не со дня установки.
    </p>
</div>
<div class="detail-content__container">
    <h3 class="content__title">
        Пример подзаголовка
    </h3>
    <p class="content__text">
        Слава об удивительном памятнике вскоре разнеслась и далеко за пределами Петербурга. В глубинке даже возникла
        собственная версия его появления. Якобы царь Петр как-то придумал себе развлечение: сел на коня и
        перескакивал на нем с одного берега реки на другой. «Всё Божье и моё!» – воскликнул он перед первым прыжком.
        Ту же самую фразу он произнес и перед вторым, тоже удачным. В третий раз государь, перепутав слова, сказал:
        «Всё моё и Божье!» За такую «дерзость» Всевышний покарал его, обратив в камень, и он навечно остался
        памятником самому себе.
    </p>
</div>
<div class="detail-content-list__container">
    <h4 class="content__title">
        Пример оформления списка:
    </h4>
    <ul class="content__list">
        <li class="content__list-item content__text">Вероятность, что клиент не уйдет из магазина с пустыми руками, повышается. Такие предложения отлично стимулируют продажи.</li>
        <li class="content__list-item content__text">«Эльдорадо» проводит акции не только за свой счет. В большинстве случаев половину затрат берет на себя поставщик.</li>
        <li class="content__list-item content__text">Банковские организации платят магазину за возможность кредитовать клиентов в торговой точке. Иногда банки отстегивают процент за каждый оформленный кредит.</li>
    </ul>
</div>
<div class="detail-content__container">
    <h2 class="content__title">
        Как добраться
    </h2>
    <p class="content__text">
        Доехать до Медного всадника можно метрополитеном. Сходите на станции «Адмиралтейская» и, оказавшись на Малой
        Морской улице, сворачиваете влево и идете мимо Исаакиевского собора. Затем от него поворачиваете направо и идете
        к Александровскому саду. Сенатская площадь с установленным на ней памятником находится за садом.
    </p>
    <p class="content__text">
        Еще вариант: доезжаете на метро до одной из двух станций – «Невский проспект» или «Гостиный двор», выходите к
        Адмиралтейству и Дворцовой площади и, пройдя мимо, оказываетесь на Адмиралтейском проспекте. Свернув с него
        влево, доходите до Сенатской площади.
    </p>
    <p class="content__text">
        Или, если не хотите идти пешком, по выходу на станции «Невский проспект» пересаживаетесь в троллейбус (номера
        маршрутов: 1, 5, 10, 11 и 22), выходите на остановке «Почтамтский переулок» и возвращаетесь назад к
        Конногвардейскому бульвару, преодолев пешим ходом около 500 метров.
    </p>
    <div class="detail-map">
        <img src="static/Rectangle 62.png" alt=""/>
    </div>
    <div class="detail-content__container">
        <p class="content__text">
            Доехать до Медного всадника можно метрополитеном. Сходите на станции «Адмиралтейская» и, оказавшись на
            Малой
            Морской улице, сворачиваете влево и идете мимо Исаакиевского собора. Затем от него поворачиваете направо
            и идете
            к Александровскому саду. Сенатская площадь с установленным на ней памятником находится за садом.
        </p>
    </div>
    <% let data = { text: "Бывает лед сильней огня, зима — порой длиннее лета, бывает ночь длиннее дня и тьма вдвойне сильнее света. Бывает сад громаден, густ, а вот плодов совсем не снимешь. Так берегись холодных чувств, не то, смотри, совсем застынешь."} %>
    <%- include('../content-block/note/note', {data}); -%>
    <div class="detail-content__container">
        <p class="content__text">
            Или, если не хотите идти пешком, по выходу на станции «Невский проспект» пересаживаетесь в троллейбус (номера
            маршрутов: 1, 5, 10, 11 и 22), выходите на остановке «Почтамтский переулок» и возвращаетесь назад к
            Конногвардейскому бульвару, преодолев пешим ходом около 500 метров.
        </p>
    </div>
</div>
<div class="detail-info__container">
    <span class="detail-info__time-create">17.06.2021</span>
    <span class="detail-info__author-name">Имя Фамилия автора статьи</span>
</div>
<%- include('../content-block/listTags/listTags'); -%>
<div class="detail-panel" data-dropdown-modal>
    <div class="detail-panel__inner">
        <div class="detail-panel__item">
            <svg class="detail-panel__logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.29101 20.824L2.00001 22L3.17601 16.709C2.40154 15.2604 1.99754 13.6426 2.00001 12C2.00001 6.477 6.47701 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22C10.3574 22.0025 8.73963 21.5985 7.29101 20.824ZM7.58101 18.711L8.23401 19.061C9.39256 19.6801 10.6864 20.0027 12 20C13.5823 20 15.129 19.5308 16.4446 18.6518C17.7602 17.7727 18.7855 16.5233 19.391 15.0615C19.9965 13.5997 20.155 11.9911 19.8463 10.4393C19.5376 8.88743 18.7757 7.46197 17.6569 6.34315C16.538 5.22433 15.1126 4.4624 13.5607 4.15372C12.0089 3.84504 10.4004 4.00346 8.93854 4.60896C7.47674 5.21447 6.22731 6.23984 5.34825 7.55544C4.4692 8.87103 4.00001 10.4177 4.00001 12C4.00001 13.334 4.32501 14.618 4.94001 15.766L5.28901 16.419L4.63401 19.366L7.58101 18.711Z" fill="#777C86"/>
            </svg>
            <span class="detail-panel__count">5</span>
        </div>
        <ul class="detail-panel__list">
            <li class="detail-panel__item">
                <svg class="detail-panel__logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.0002 3C17.3922 3 21.8782 6.88 22.8192 12C21.8792 17.12 17.3922 21 12.0002 21C6.60815 21 2.12215 17.12 1.18115 12C2.12115 6.88 6.60815 3 12.0002 3ZM12.0002 19C14.0396 18.9996 16.0185 18.3068 17.613 17.0352C19.2075 15.7635 20.3231 13.9883 20.7772 12C20.3214 10.0133 19.2051 8.24 17.6108 6.97003C16.0165 5.70005 14.0385 5.00853 12.0002 5.00853C9.96185 5.00853 7.98384 5.70005 6.38953 6.97003C4.79521 8.24 3.67892 10.0133 3.22315 12C3.67725 13.9883 4.79283 15.7635 6.3873 17.0352C7.98177 18.3068 9.96068 18.9996 12.0002 19ZM12.0002 16.5C10.8067 16.5 9.66209 16.0259 8.81817 15.182C7.97426 14.3381 7.50015 13.1935 7.50015 12C7.50015 10.8065 7.97426 9.66193 8.81817 8.81802C9.66209 7.97411 10.8067 7.5 12.0002 7.5C13.1936 7.5 14.3382 7.97411 15.1821 8.81802C16.026 9.66193 16.5002 10.8065 16.5002 12C16.5002 13.1935 16.026 14.3381 15.1821 15.182C14.3382 16.0259 13.1936 16.5 12.0002 16.5ZM12.0002 14.5C12.6632 14.5 13.2991 14.2366 13.7679 13.7678C14.2368 13.2989 14.5002 12.663 14.5002 12C14.5002 11.337 14.2368 10.7011 13.7679 10.2322C13.2991 9.76339 12.6632 9.5 12.0002 9.5C11.3371 9.5 10.7012 9.76339 10.2324 10.2322C9.76355 10.7011 9.50015 11.337 9.50015 12C9.50015 12.663 9.76355 13.2989 10.2324 13.7678C10.7012 14.2366 11.3371 14.5 12.0002 14.5Z" fill="#777C86"/>
                </svg>
                <span class="detail-panel__count">1K</span>
            </li>
            <li class="detail-panel__item">
                <svg class="detail-panel__logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6 7.9999H21C21.5304 7.9999 22.0391 8.21062 22.4142 8.58569C22.7893 8.96076 23 9.46947 23 9.9999V12.1039C23.0003 12.3653 22.9493 12.6241 22.85 12.8659L19.755 20.3809C19.6795 20.5641 19.5513 20.7208 19.3866 20.831C19.2219 20.9412 19.0282 21 18.83 20.9999H2C1.73478 20.9999 1.48043 20.8945 1.29289 20.707C1.10536 20.5195 1 20.2651 1 19.9999V9.9999C1 9.73469 1.10536 9.48033 1.29289 9.2928C1.48043 9.10526 1.73478 8.9999 2 8.9999H5.482C5.6421 8.99994 5.79986 8.96155 5.94203 8.88794C6.0842 8.81433 6.20662 8.70766 6.299 8.5769L11.752 0.849904C11.8209 0.752217 11.9226 0.682464 12.0385 0.653294C12.1545 0.624124 12.277 0.637467 12.384 0.690904L14.198 1.5979C14.7085 1.85307 15.1163 2.27522 15.3537 2.79422C15.5911 3.31322 15.6438 3.89783 15.503 4.4509L14.6 7.9999ZM7 10.5879V18.9999H18.16L21 12.1039V9.9999H14.6C14.2954 9.99986 13.9948 9.93024 13.7212 9.79636C13.4476 9.66248 13.2082 9.46787 13.0213 9.22739C12.8343 8.98691 12.7048 8.7069 12.6425 8.40873C12.5803 8.11056 12.5869 7.80211 12.662 7.5069L13.565 3.9589C13.5933 3.84823 13.5828 3.73122 13.5353 3.62733C13.4878 3.52345 13.4062 3.43895 13.304 3.3879L12.643 3.0579L7.933 9.7299C7.683 10.0839 7.363 10.3739 7 10.5879ZM5 10.9999H3V18.9999H5V10.9999Z" fill="#777C86"/>
                </svg>
                <span class="detail-panel__count">52</span>
            </li>
            <li class="detail-panel__item">
                <svg data-modal-share class="detail-panel__logo" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14V19.5L22.5 11L12 2.5V8C6.477 8 2 12.477 2 18C2 18.273 2.01 18.543 2.032 18.81C2.7956 17.3582 3.94152 16.1427 5.34587 15.2949C6.75023 14.4471 8.3596 13.9994 10 14H12ZM14 15.308V12H10C8.58 12 7.209 12.271 5.943 12.773C6.69332 11.9018 7.62299 11.203 8.66839 10.7244C9.71379 10.2458 10.8503 9.99871 12 10H14V6.692L19.321 11L14 15.308Z" fill="#777C86"/>
                </svg>
                <span class="detail-panel__count">Поделиться</span>
            </li>
        </ul>
        <%- include('../modal/modal-share-menu/modal-share-menu'); -%>
    </div>
</div>