<% dataQuestion.forEach(item => { %>
    <div class="question-item_container">
        <h3 class="question-item_title"><%= item.title %></h3>
        <form class="question-item_form">
            <div class="question-option_container">
                <% if (item.imageQuestion) { %>
                    <ul class="question-option_list">
                        <% item.list.forEach((item, index) => { %>
                            <li class="question-option_item">
                                <div class="question-option_item-container">
                                    <img class="question-option_image"
                                         src="<%= item.option %>"
                                         alt="">
                                    <span class="question-option_subText">Вариант № <%= index + 1 %></span>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <div>
                        <p class="question-option__text"><%= item.optionQuestion %></p>
                    </div>
                <% } %>
            </div>
            <div class="question-answer_container">
                <ul class="question-answer_list">
                    <% item.list.forEach((item, index) => { %>
                        <li class="question-answer_item">
                            <input type="checkbox"
                                   name="question + <%= index %>"
                                   id="question + <%= index %>"
                                   class="question-answer_item-input custom-checkbox">
                            <label for="question + <%= index %>" class="question-answer_item-label">
                                <span class="question-answer_item-number"><%= index + 1 %>.</span>
                                <%= item.answer %>
                            </label>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <button type="submit" class="btn">Голосовать</button>
        </form>
    </div>
<% }); %>
